<div class="footerContainer">
    © 2021 Dulce Garcia

    <div class="contacts">
        <!-- github link -->
        <a href="https://github.com/dgarcia02?tab=repositories" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
        <!-- linkedin link -->
        <a href="https://www.linkedin.com/in/dulcegarcia2" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        <!-- facebook link -->
        <a href="https://www.facebook.com/dulce.garcia.10888/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
        <!-- email -->
        <ion-icon name="mail"></ion-icon>
    </div>
</div>
