<nav>
    <div class="navContainer">
        <h2>Health Inclusivity Community</h2>

        <div class="iconsNav">
            <a href="/community"><ion-icon name="home"></ion-icon></a>
            <a href="/community/new"><ion-icon name="add"></ion-icon></a>
            <!-- other version of add -->
            <!-- <ion-icon name="add-circle"></ion-icon> -->

            <ion-icon name="person"></ion-icon>
        </div>
    </div>

</nav>
