<div class="nav-wrapper #263238 blue-grey darken-4" id="navigation">
  <a href="/community" class="brand-logo navWords">Stay Healthy, Stay Safe!</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/community"><i class="fas fa-home"></i></a></li>
    <li><a href="/posts/new"><i class="fas fa-plus-circle"></i></a></li>
    <% if(currentUser) { %>
        <li><%=currentUser.username%></li>
        <li>
            <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" class="">
            </form>
        </li>
    <% } else { %>
        <li><a href="/users/new" class="navWords">Sign Up</a></li>
        <li><a href="/sessions/new" class="navWords">Log In</a></li>
    <% } %>
  </ul>
</div>
