<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Feed</h1>

            <% for (let i = 0; i < community.length; i++) { %>
                <div class="entry">
                    <img src="<%=community[i].posts.img%>" alt="">
                    <p><%=community[i].posts.date%></p>
                    <p><%=community[i].posts.entry%></p>
                    <p><%=community[i].posts.feeling%></p>
                </div>
            <% } %>

        </div>
    </body>
</html>
