<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Community</h1>
            <a href="/community/new">Create new profile</a>

            <ul>
                <% for (let i = 0; i < members.length; i++) { %>
                    <img src="<%=members[i].img%>" alt="profilePic">
                    <br>
                    <a href="/community/<%=members[i]._id%>"><%=members[i].name%></a>
                    <br>
                    <h5><%=members[i].pronouns%></h5>
                <% } %>
            </ul>

        </div>
    </body>
</html>
