/* ========== General ========== */
body {
    background-color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: auto;
    width: 65%;
    height: auto;
    /* height: 620px; */
    /* text-align: center; */
}

footer {
    margin: auto;
    /* position: fixed; */
    text-align: center;
    font-size: 10px;
    border-top: 1px solid rgba(219,219,255,1);
    height: 80px;
    /* background-color: #323649; */
    color: #B8B8B8;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 0.8rem;
}

/* ========== Icons ========== */
ion-icon {
    color: #E0E0E0;
    font-size: 25px;
    padding: 0.3em;
}

ion-icon:hover {
    color: #EF8557;
}

/* nav icons and links */
i, .navWords {
    color: #FFFFFF;
    padding-right: 1.3em;
    opacity: 60%;
}

.nav-link:hover {
    color: #EF8557;
}

i:hover {
    opacity: 100%;
    color: #EF8557;
    transition:opacity 1s;
}



/* ========== Community ========== */
.profilesList {
    display: flex;
    width: 100%;
    /* height: 400px; */
    justify-content: center;
}

.profileItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
}

.profilePic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform .2s;
}

.profilePic:hover {
    transform: scale(1);
}

.communityList {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: .7em;
}

.indexTitle, h4 {
    /* font-weight: bold; */
    color: #EC6A32;
    border-bottom: 1px solid lightgray;
    margin: 1em 0;
}

li {
    text-decoration: none;
    list-style-type: none;
}

/* ========== New Member ========== */


/* ========== Community Show Page ========== */
/* profile about section */
#pronouns {
    opacity: 50%;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.showProfilePic {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.profileInfo {
    display: flex;
    margin: 2em 0;
    padding: 1em;
    border-bottom: 1px solid lightgray;
    /* justify-content: space-around; */
}

.edit-btn {
    background-color: #F5F5F5;
    border: 1px solid lightgray;
    /* border: 8px; */
    padding: 8px 16px;
    border-radius: 7px;
    font-size: 0.8rem;
}

.delete-btn {
    background-color: #F5F5F5;
    border: 1px solid lightgray;
    padding: 8px 9px;
    border-radius: 7px;
    font-size: 0.8rem;
    cursor: pointer;
}

.edit-btnLetters {
    /* color: #FFFFFF; */
}

/* Post Section */
.showPictures {
    width: 80%;
    height: 60%;
}

.show-post {
    margin-bottom: 1.3em;
}


/* ========== Posts Index Page ========== */
.feed-pics {
    width: 100%;
}

.entry {
    margin: auto;
    width: 60%;
    height: auto;
    border: 1.5px solid lightgray;
    border-radius: 1px;
    margin-bottom: 2em;
    background-color: #F5F5F5;
}

.content {
    width: 80%;
    /* height: 20px; */
    margin: 1em 1.5em;
}

.feed-text {
    font-size: 0.8rem;
}

.feed-btns {
    display: flex;
    margin: 0.5em;
}

.feed-delete {
    margin-right: 0.5em;
}

/* ========== Store Index Page ========== */
.store_img {
    width: 50%;
}

.product-container {
    margin-bottom: 2em;
}

.quantity {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1.5px solid gray;
    border-radius: 6px;
    align-items: center;
    margin: auto;
    margin-bottom: 1em;
}

.qButtons {
    display: flex;
}

.qty-btn {
    border: none;
    width: 36%;
    font-size: 1.6rem;
    background-color: #F5F5F5;
}

.add-cart {
    margin-left: 9.5em;
}


/*  */
