<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
      <%- include ('../partials/header.ejs') %>
      
    <div class="container">
      <h1>New User</h1>
      <form action="/users" method="POST">
          <!-- username -->
        <label for="name">User Name:</label>
        <input type="text" name="username" required/>
        <!-- password -->
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      <form>
    </div>
  </body>
</html>
