<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Create New Post</h1>

            <form action="/posts" method="POST">
                Photo: <input type="url" name="img" id="img" />
                <br>
                Caption: <textarea name="postText"></textarea>
                <br>
                Feeling: <input type="text" name="feeling" id="feeling" />
            </form>

        </div>
    </body>
</html>
